h1 {
  color: violet;
}

h1:hover {
  color: white;
}

header {
  background-color: rgb(93, 0, 19);
}

header:hover {
}

input:focus {
  outline: none;
  border: 1px solid red;
}

main p:last-child {
  font-weight: bold;
}

h2 {
  color: rgb(0, 0, 0);
  text-align: center;
}

h2:after {
  content: "";
  display: block;
  width: 52px;
  height: 2px;
  margin: 20px auto 0;
  background-color: black;
}
